@model dynamic

@{
    ViewBag.Title = "Main page";
}
@section scripts
{
    <script language="javascript">
        $(function() {
            var chat = $.connection.groupRegistration;
            
            // Create a function that the hub can call back to display messages.
            chat.client.hello = function(message) {
                // Add the message to the page. 
                $('#message').html("User said: " + message);
            };
            $.connection.hub.start()
                .done(function () {
                    chat.server.hello("123");
                })
                .fail(function() {
                    debugger
                });
                  
        })
    </script>
}
<div id="message"></div>